
.hd{
    font-family: monospace;
    text-align: center;
    font-size: small;
    font-style: oblique;
    
}

.hd1{
    text-align: center;
    color: #637dc7;
    font-weight: bold;
    font-family: monospace;
    
}

.draw-area{
    background-color: aliceblue;
    height: 600px; 
    width: 600px;
    position: relative;
    border: rgb(38, 38, 107) 5px solid;
  }

  .node{
    border: #1f3c7d 2px solid;
    text-align: center;
    border-radius: 40%;
    background-color: #577ee8;
    position: absolute;
    width: 100px;
    height: 60px;
    margin: 0 auto;
    padding: 10px;
  }

  .node p{
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.console{
  height: 25px;
  border: #1f3c7d 2px solid;
  margin-bottom: 0;
  margin-top: 1px;
  background-color: rgb(206, 206, 238);
}

.console p{
  color: #c20e0e;
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.btn-container{
  align-items: center;
}

#msg{
  color: rgb(47, 155, 119);
}